<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/cart-vacio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/0dd34c83b9.js" crossorigin="anonymous"></script>
    <title>Carrito Vacío</title>
</head>
<body>



    <h1>Carrito de Compras</h1>
    <p>No hay productos en el carrito.</p>
    <a href="/">Volver a la tienda</a>

    <section class="footer">
        <div class="share">
            <a href="#" class="fa-brands fa-whatsapp"></a>
        </div>
        <div class="links">
            <a href="#home">Inicio</a>
            <a href="#about">Sobre</a>
            <a href="#menu">Productos</a>
            <a href="#contact">Contacto</a>
        </div>
        <div class="credit"> creada por <span>Diego Niño</span> || todos los derechos reservados </div>
    </section>

</body>
</html>
